{% extends 'base.html' %}
{% load static %}
{% block title %}SignUp{% endblock title %}
{% block sign %}
<section class="signup">
    <div class="signin-left">
        <h1>Modern Interior Design Studio</h1>
        <img src="{% static 'img/django-python-logo.png' %}" alt="">
        <span>@daatstudios</span>  
    </div>
    <div class="signin">
        <h1>SignUp</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="user">
                <input type="radio" name="role" id="per_user" value="per_user">
                User
            </label>
            <label for="plumber">
                <input type="radio" name="role" id="plumber" value="plumber" required>
                Plumber
            </label>
            <label for="prime">
                <input type="radio" name="role" id="Prime" value="prime" required>
                Prime
            </label>
            <br>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
            <p id="alert-cp"></p>
            <script>
                $(document).ready(function() {
                    $('#confirm_password').on('input', function() {
                        if ($('#password').val() === $('#confirm_password').val()) {
                            // Passwords match
                            $('#alert-cp').text('');
                        } else {
                            // Passwords do not match
                            $('#alert-cp').text('Password do not match').css('color', 'red');
                        }
                    });
                });
            </script>
            <input type="submit" value="Submit">
        </form>
        Already have an account? then <a href="signin">SignIn</a>
     
    </div>
</section>
{% endblock %}
